* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #FFD700;
  color: #000000;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  overflow-y: auto;
}

header {
  text-align: center;
  padding: 40px;
  background: #000000;
  color: #FFD700;
  width: 100%;
  border-bottom: 5px solid #FFD700;
  position: sticky;
  top: 0;
}

.username {
  margin-top: 30px;
  color: #FFD700;
}

.music-button {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: #FFD700;
  font-size: 1rem;
  cursor: pointer;
}

.music-button:hover {
  background-color: transparent;
  border: none;
  color: #FFD700;
}


.description {
  font-size: 0.7rem;
  text-align: center;
  margin: 20px 0;
  line-height: 1.4;
  max-width: 80%;
}

input[type="password"] {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #000000;
  color: #FFD700;
  border: 2px solid #FFD700;
  padding: 10px;
  font-size: 1rem;
  width: 200px;
  margin: 15px 0;
  text-align: center;
}

main {
  padding: 20px;
  width: 90%;
  text-align: center;
  flex-grow: 1;
}

button {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #000000;
  color: #FFD700;
  border: 2px solid #FFD700;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #FFD700;
  color: #000000;
  border: 2px solid #000000;
}

a {
  text-decoration: none;
}

a button {
  display: inline-block;
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  margin-bottom: 15px;
  background-color: #000000;
  border: 2px solid #FFD700;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

a {
  color: #FFD700;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #000000;
  color: #FFD700;
  text-align: center;
  padding: 30px 0;
  font-size: 0.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

div, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  header .title {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

.back-button {
  margin-top: 30px;
}
